@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 244, 242, 242;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 12, 16, 17;
		--background-end-rgb: 0, 0, 0;
	}
}

*,
:after,
:before {
	box-sizing: border-box;
	border: 0 solid #e5e7eb;
}
html,
body {
	margin: 0;
	line-height: inherit;
	background: black;
}
a {
	color: inherit;
	text-decoration: inherit;
}
p {
	margin: 0;
	font-size: 1.2rem;
}
:disabled {
	cursor: default;
}
img,
svg {
	display: block;
}
img {
	height: auto;
}

p {
	margin-bottom: 0;
}
a {
	text-decoration: none;
}
img {
	display: block;
	max-width: 100%;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 1.25rem;
	line-height: 1.4;
	font-weight: 400;
}

h1,
p {
	margin: 0;
}
h1 {
	font-size: 4.625rem;
	line-height: 0.9;
	letter-spacing: -0.02em;
	margin-bottom: 0;
	font-weight: 400;
}
h1 {
	margin-top: 0;
}

.nav-container {
	width: 100%;
	max-width: 100%;
	padding-right: 0;
	padding-left: 2vw;
	justify-content: space-between;
	transition: all 0.6s ease;
	display: flex;
	align-items: center;
	border-bottom: 2px solid #000000;
}

.nav-menu {
	display: flex;
	margin-right: 0;
	align-items: center;
	border-left: 2px solid #000;
	transition: margin 0.6s ease-in-out, flex 0.6s ease-in-out;
}

.nav-link {
	cursor: pointer;
	position: relative;
	margin-right: 1.5vw;
	margin-left: 1.5vw;
	padding: 0;
	font-size: 1rem;
	color: #000;
}
.nav-link.black {
	margin-right: 0;
	margin-left: 0;
	padding: 1.5rem 3vw;
	border-left: 2px solid #000;
	background-color: #000;
	color: #fff;
}
.nav-link.white:hover {
	background-color: #246aeb;
	color: #fff;
}
.nav-link.black:hover {
	background-color: #ed3c5d;
	color: #000;
}
.nav-link.white {
	margin-right: 0;
	margin-left: 0;
	padding: 1.5rem 3vw;
}
